.dndHome {
  display: flex;
  background-color: #1d1e22;
  margin-top: -20px;
  height: 100%;
}

.newDiv {
  width: 45%;
  height: 600px;
  margin: 20px;
}

.DnDHomeTitles {
  text-align: center;
  color: snow;
}

.newBtn {
  width: 90%;
  height: 600px;
  text-align: center;
  font-size: 50px;
  background-image: url('../img/newCharacterLogo.png');
  background-size: 100% 100%;
}

.or {
  color: #feda6a;
  margin-top: 300px;
}

#list {
  float: right;
}